
@font-face {
    font-family: comm;
    src: url(/fonts/Commissioner/Commissioner-VariableFont_FLAR\,VOLM\,slnt\,wght.ttf);
}
@font-face {
    font-family: displayfair;
    src: url(/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: poppins;
    src: url(/fonts/Poppins/Poppins-ExtraLight.ttf);
    font-weight: 200;
}


@font-face {
    font-family: poppins;
    src: url(/fonts/Poppins/Poppins-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: poppins;
    src: url(/fonts/Poppins/Poppins-Regular.ttf);

    font-weight: 400;
}

@font-face {
    font-family: poppins;
    src: url(/fonts/Poppins/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: poppins;
    src: url(/fonts/Poppins/Poppins-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: poppins;
    src: url(/fonts/Poppins/Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: poppins;
    src: url(/fonts/Poppins/Poppins-ExtraBold.ttf);
    font-weight: 800;

}

@font-face {
    font-family: poppins;
    src: url(/fonts/Poppins/Poppins-Black.ttf);
    font-weight: 900;
}



/* --------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
   
}

/* -------------------------- */


body{

    font-family: poppins;
    font-weight: 300;
    background-color: #f9f5f2;
    background-image: url(/images/background.png);
  
    background-repeat: no-repeat;
    background-size: cover;
    
  
    
}

#page{
    width: 75vw;
    height: 110vh;
    margin: auto;
    
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-left: 20px;
    padding-right: 30px;
    margin-top: 40px;
}

#logo img{
    height: 65px;
}

#nav-links{
    display: flex;
    gap: 70px;
    
}


#nav-links a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

#nav-actions{
    display: flex;
    gap: 60px;
    align-items: center;
    font-size: 30px;
}


/* --------HERO SECTION----------- */

#hero-section{
    display: flex;
    margin-top: 20px;
    padding: 20px;
    
    
}

#left-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    padding: 5px;
    
}

#collection-tag{
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1e5631;
}

#collection-tag i {
    font-size: 30px;
}

#main-heading{
    font-family: displayfair;
    font-size: 104px;
    font-weight: 300;
    line-height: 0.9;
    margin-left: 10px;
    color: #1e5631;
}


#divider-line{
    background-color: #1e5631;
    height: 3px;
    width: 70px;
    margin-top: 20px;
    margin-left: 10px;
}

#product-description{
    font-size: 16px;
    width: 70%;
    padding: 5px;
    font-weight: 400;
    margin-left: 10px;
}


#color-options{
    display: flex;
    gap: 18px;
    margin-top: 25px;
    margin-left: 15px;
    
}


#colors-header{
    font-size: 18px;
    font-weight: 600;
   
}



.color{
    background-color: red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#color-green{
    background-color: #1e5631;
}
#color-white{
    background-color: #ffd6be;
}
#color-pink{
    background-color: #f67280;
}


#details-section{
    margin-top: 20px;
    margin-left: 15px;
}

#details-header{
    font-size: 18px;
    font-weight: 600;
}

#details-text{
    font-size: 13px;
    width: 70%;
    padding: 5px;
    font-weight: 500;
}


#benefits-list{
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

#benefit-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    
    
    height: 120px;
    width: 120px;
    
}

#benefit-item i{
    font-size: 30px;
    color: #5c654d;
    background-color: #e6e3d9;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
}

#benefit-item span{
    font-size: 18px;
    font-weight: 500;
    color: #5c654d;
    text-align: center;
}

#benefits-divider{
    background-color: #c6c3b6;
    height: 120px;
    width: 2px;
    
}

/* ----------------product showcase------------------ */
#product-showcase{
    
    width: 100%;
    height: 80%;
    
    padding: 5px;
   

    display: flex;
    
    gap: 20px;
    align-items: start;
    
}

#showcase-wrapper{
    position: relative;
    height: 100%;
    flex:1;

    
}


#hero-image{
    overflow: hidden;
    height: 580px;
    flex: 2;
    margin-left: 10px;
    border-radius: 15px;
}

#hero-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

#price-badge{
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: white;
    color: #1e5631;
    border-radius: 50px;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 600;
}

#rating-badge{
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: white;
    border-radius: 50px;
    color: #1e5631;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 600;
}

#rating-heading{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

#vertical-product-name{
    position: absolute;
    bottom: 280px;
    left: -140px;
    /* padding: 5px 15px; */
    rotate: 270deg;
    text-orientation: mixed;
    height: fit-content;
    display: flex;
    align-items: center;
}

#product-name{
    font-family: displayfair;
    font-size: 26px;
    font-weight: 400;
    color: #1e5631;
    line-height: 0.9;
}

#vertical-divider{
    background-color: #1e5631;
    height: 2px;
    width: 50px;
    margin-right: 10px;
    margin-top: 7px;}

#add-to-cart-btn{
    position: absolute;
    bottom: 30px;
    left: 420px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #1e5631;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#add-to-cart-btn span{
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
}

#add-to-cart-btn i{
    font-size: 20px;
    font-weight: 100;
}


#thumbnail-gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 1;
    height: 580px;
    
    padding: 5px;
}

#thumbnail{
    height: 190px;
    width: 75%;
    border-radius: 6%;
    overflow: hidden;
    cursor: pointer;
    
}

#thumbnail img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

#thumbnail:nth-child(1){
    outline: #1e5631 solid 2px;
    outline-offset: 2px;
}


#features-bar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;  
    padding: 10px 30px;
    width: 80%;
   
    border-radius: 20px;
    margin-top: 40px;
    background-color: #f2ece7;
    box-shadow: #b5b5b5 4px 4px 8px;
}

#feature-card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    padding: 10px;
    
}

#feature-card i{
    font-size: 40px;
    color: #5c654d;
    font-weight: 100;
    
}

#feature-card span{
    font-size: 14px;
    font-weight: 500;
    color: #5c654d;
}

#feature-divider{
    background-color: #bbbcbb;
    height: 50px;
    width: 1px;
}